In [1]:
#OPAN5510 Lab Assignment - Joins

#This lab focuses on using Polars to perform data joins and aggregations to answer business questions.

#Bike Trips Dataset

#Prerequisites

#For this assignment, you'll need to use Polars for data manipulation.

#Insert a code block to import necessary packages (polars)

In [5]:
import polars as pl

#Load Bike Trips Data Set

trips = pl.read_csv("https://raw.githubusercontent.com/philhetzel/opan5510-class9/refs/heads/main/data/bike_trips.csv", null_values='NA')
weather = pl.read_csv("https://raw.githubusercontent.com/philhetzel/opan5510-class9/refs/heads/main/data/bike_weather.csv", null_values=['NA',''])

trips = trips.with_columns(pl.col("date").str.strptime(pl.Date, "%Y-%m-%d").alias("date")) # ensure date column is typed correctly
weather = weather.with_columns(pl.col("date").str.strptime(pl.Date, "%Y-%m-%d").alias("date")) # ensure date column is typed correctly
print(trips.height)
print(weather.height)

78704
733

In [6]:
trips.head()

shape: (5, 12)
┌──────┬──────────┬──────────────┬─────────────┬───┬─────────┬─────────────┬──────────┬────────────┐
│ id   ┆ duration ┆ start_date   ┆ start_stati ┆ … ┆ bike_id ┆ subscriptio ┆ zip_code ┆ date       │
│ ---  ┆ ---      ┆ ---          ┆ on_name     ┆   ┆ ---     ┆ n_type      ┆ ---      ┆ ---        │
│ i64  ┆ i64      ┆ str          ┆ ---         ┆   ┆ i64     ┆ ---         ┆ i64      ┆ date       │
│      ┆          ┆              ┆ str         ┆   ┆         ┆ str         ┆          ┆            │
╞══════╪══════════╪══════════════╪═════════════╪═══╪═════════╪═════════════╪══════════╪════════════╡
│ 4721 ┆ 3        ┆ 2013-08-29T2 ┆ Market at   ┆ … ┆ 416     ┆ Subscriber  ┆ 94107    ┆ 2013-08-29 │
│      ┆          ┆ 0:27:00Z     ┆ 10th        ┆   ┆         ┆             ┆          ┆            │
│ 4812 ┆ 3        ┆ 2013-08-29T2 ┆ 2nd at      ┆ … ┆ 409     ┆ Subscriber  ┆ 94107    ┆ 2013-08-29 │
│      ┆          ┆ 1:30:00Z     ┆ Folsom      ┆   ┆         ┆             ┆          ┆            │
│ 4705 ┆ 3        ┆ 2013-08-29T2 ┆ Golden Gate ┆ … ┆ 519     ┆ Subscriber  ┆ 94107    ┆ 2013-08-29 │
│      ┆          ┆ 0:15:00Z     ┆ at Polk     ┆   ┆         ┆             ┆          ┆            │
│ 4841 ┆ 3        ┆ 2013-08-29T2 ┆ University  ┆ … ┆ 83      ┆ Subscriber  ┆ 94107    ┆ 2013-08-29 │
│      ┆          ┆ 1:48:00Z     ┆ and Emerson ┆   ┆         ┆             ┆          ┆            │
│ 4668 ┆ 4        ┆ 2013-08-29T1 ┆ San         ┆ … ┆ 489     ┆ Subscriber  ┆ 94107    ┆ 2013-08-29 │
│      ┆          ┆ 9:39:00Z     ┆ Francisco   ┆   ┆         ┆             ┆          ┆            │
│      ┆          ┆              ┆ Caltrain 2  ┆   ┆         ┆             ┆          ┆            │
│      ┆          ┆              ┆ (330 …      ┆   ┆         ┆             ┆          ┆            │
└──────┴──────────┴──────────────┴─────────────┴───┴─────────┴─────────────┴──────────┴────────────┘

In [7]:
weather.head()

shape: (5, 24)
┌────────────┬────────────┬────────────┬───────────┬───┬───────────┬────────┬───────────┬──────────┐
│ date       ┆ max_temper ┆ mean_tempe ┆ min_tempe ┆ … ┆ cloud_cov ┆ events ┆ wind_dir_ ┆ zip_code │
│ ---        ┆ ature_f    ┆ rature_f   ┆ rature_f  ┆   ┆ er        ┆ ---    ┆ degrees   ┆ ---      │
│ date       ┆ ---        ┆ ---        ┆ ---       ┆   ┆ ---       ┆ str    ┆ ---       ┆ i64      │
│            ┆ i64        ┆ i64        ┆ i64       ┆   ┆ i64       ┆        ┆ i64       ┆          │
╞════════════╪════════════╪════════════╪═══════════╪═══╪═══════════╪════════╪═══════════╪══════════╡
│ 2013-08-29 ┆ 74         ┆ 68         ┆ 61        ┆ … ┆ 4         ┆ null   ┆ 286       ┆ 94107    │
│ 2013-08-30 ┆ 78         ┆ 69         ┆ 60        ┆ … ┆ 2         ┆ null   ┆ 291       ┆ 94107    │
│ 2013-08-31 ┆ 71         ┆ 64         ┆ 57        ┆ … ┆ 4         ┆ null   ┆ 284       ┆ 94107    │
│ 2013-09-01 ┆ 74         ┆ 66         ┆ 58        ┆ … ┆ 4         ┆ null   ┆ 284       ┆ 94107    │
│ 2013-09-02 ┆ 75         ┆ 69         ┆ 62        ┆ … ┆ 6         ┆ null   ┆ 277       ┆ 94107    │
└────────────┴────────────┴────────────┴───────────┴───┴───────────┴────────┴───────────┴──────────┘

In [8]:
# Question 1 - PART A

trips_weather = trips.join(weather, on='date', how='left')
trips_weather.head()

shape: (5, 35)
┌──────┬──────────┬─────────────┬─────────────┬───┬─────────────┬────────┬────────────┬────────────┐
│ id   ┆ duration ┆ start_date  ┆ start_stati ┆ … ┆ cloud_cover ┆ events ┆ wind_dir_d ┆ zip_code_r │
│ ---  ┆ ---      ┆ ---         ┆ on_name     ┆   ┆ ---         ┆ ---    ┆ egrees     ┆ ight       │
│ i64  ┆ i64      ┆ str         ┆ ---         ┆   ┆ i64         ┆ str    ┆ ---        ┆ ---        │
│      ┆          ┆             ┆ str         ┆   ┆             ┆        ┆ i64        ┆ i64        │
╞══════╪══════════╪═════════════╪═════════════╪═══╪═════════════╪════════╪════════════╪════════════╡
│ 4721 ┆ 3        ┆ 2013-08-29T ┆ Market at   ┆ … ┆ 4           ┆ null   ┆ 286        ┆ 94107      │
│      ┆          ┆ 20:27:00Z   ┆ 10th        ┆   ┆             ┆        ┆            ┆            │
│ 4812 ┆ 3        ┆ 2013-08-29T ┆ 2nd at      ┆ … ┆ 4           ┆ null   ┆ 286        ┆ 94107      │
│      ┆          ┆ 21:30:00Z   ┆ Folsom      ┆   ┆             ┆        ┆            ┆            │
│ 4705 ┆ 3        ┆ 2013-08-29T ┆ Golden Gate ┆ … ┆ 4           ┆ null   ┆ 286        ┆ 94107      │
│      ┆          ┆ 20:15:00Z   ┆ at Polk     ┆   ┆             ┆        ┆            ┆            │
│ 4841 ┆ 3        ┆ 2013-08-29T ┆ University  ┆ … ┆ 4           ┆ null   ┆ 286        ┆ 94107      │
│      ┆          ┆ 21:48:00Z   ┆ and Emerson ┆   ┆             ┆        ┆            ┆            │
│ 4668 ┆ 4        ┆ 2013-08-29T ┆ San         ┆ … ┆ 4           ┆ null   ┆ 286        ┆ 94107      │
│      ┆          ┆ 19:39:00Z   ┆ Francisco   ┆   ┆             ┆        ┆            ┆            │
│      ┆          ┆             ┆ Caltrain 2  ┆   ┆             ┆        ┆            ┆            │
│      ┆          ┆             ┆ (330 …      ┆   ┆             ┆        ┆            ┆            │
└──────┴──────────┴─────────────┴─────────────┴───┴─────────────┴────────┴────────────┴────────────┘

In [18]:
# Question 1 - PART B

avg_bad_weather = (
    trips_weather.filter(pl.col("events").is_not_null())
    .select(avg_duration = pl.col("duration").mean()).item()
)
print(f"the average trip duration during bad weather was {avg_bad_weather:.2f} minutes")

the average trip duration during bad weather was 10.35 minutes

In [31]:
# Load Batting and People DataFrame

batting = pl.read_csv("https://raw.githubusercontent.com/philhetzel/opan5510-class9/refs/heads/main/data/Batting.csv", null_values='NA')
people = pl.read_csv("https://raw.githubusercontent.com/philhetzel/opan5510-class9/refs/heads/main/data/People.csv", null_values='NA')
hallOfFame = pl.read_csv("https://raw.githubusercontent.com/philhetzel/opan5510-class9/refs/heads/main/data/HallOfFame.csv", null_values='NA')

In [26]:
batting.head()

shape: (5, 22)
┌───────────┬────────┬───────┬────────┬───┬──────┬──────┬──────┬──────┐
│ playerID  ┆ yearID ┆ stint ┆ teamID ┆ … ┆ HBP  ┆ SH   ┆ SF   ┆ GIDP │
│ ---       ┆ ---    ┆ ---   ┆ ---    ┆   ┆ ---  ┆ ---  ┆ ---  ┆ ---  │
│ str       ┆ i64    ┆ i64   ┆ str    ┆   ┆ str  ┆ str  ┆ str  ┆ i64  │
╞═══════════╪════════╪═══════╪════════╪═══╪══════╪══════╪══════╪══════╡
│ abercda01 ┆ 1871   ┆ 1     ┆ TRO    ┆ … ┆ null ┆ null ┆ null ┆ 0    │
│ addybo01  ┆ 1871   ┆ 1     ┆ RC1    ┆ … ┆ null ┆ null ┆ null ┆ 0    │
│ allisar01 ┆ 1871   ┆ 1     ┆ CL1    ┆ … ┆ null ┆ null ┆ null ┆ 1    │
│ allisdo01 ┆ 1871   ┆ 1     ┆ WS3    ┆ … ┆ null ┆ null ┆ null ┆ 0    │
│ ansonca01 ┆ 1871   ┆ 1     ┆ RC1    ┆ … ┆ null ┆ null ┆ null ┆ 0    │
└───────────┴────────┴───────┴────────┴───┴──────┴──────┴──────┴──────┘

In [28]:
people.head()

shape: (5, 26)
┌───────────┬───────────┬────────────┬──────────┬───┬──────────┬───────────┬───────────┬───────────┐
│ playerID  ┆ birthYear ┆ birthMonth ┆ birthDay ┆ … ┆ retroID  ┆ bbrefID   ┆ deathDate ┆ birthDate │
│ ---       ┆ ---       ┆ ---        ┆ ---      ┆   ┆ ---      ┆ ---       ┆ ---       ┆ ---       │
│ str       ┆ i64       ┆ i64        ┆ i64      ┆   ┆ str      ┆ str       ┆ str       ┆ str       │
╞═══════════╪═══════════╪════════════╪══════════╪═══╪══════════╪═══════════╪═══════════╪═══════════╡
│ aardsda01 ┆ 1981      ┆ 12         ┆ 27       ┆ … ┆ aardd001 ┆ aardsda01 ┆ null      ┆ 1981-12-2 │
│           ┆           ┆            ┆          ┆   ┆          ┆           ┆           ┆ 7         │
│ aaronha01 ┆ 1934      ┆ 2          ┆ 5        ┆ … ┆ aaroh101 ┆ aaronha01 ┆ 2021-01-2 ┆ 1934-02-0 │
│           ┆           ┆            ┆          ┆   ┆          ┆           ┆ 2         ┆ 5         │
│ aaronto01 ┆ 1939      ┆ 8          ┆ 5        ┆ … ┆ aarot101 ┆ aaronto01 ┆ 1984-08-1 ┆ 1939-08-0 │
│           ┆           ┆            ┆          ┆   ┆          ┆           ┆ 6         ┆ 5         │
│ aasedo01  ┆ 1954      ┆ 9          ┆ 8        ┆ … ┆ aased001 ┆ aasedo01  ┆ null      ┆ 1954-09-0 │
│           ┆           ┆            ┆          ┆   ┆          ┆           ┆           ┆ 8         │
│ abadan01  ┆ 1972      ┆ 8          ┆ 25       ┆ … ┆ abada001 ┆ abadan01  ┆ null      ┆ 1972-08-2 │
│           ┆           ┆            ┆          ┆   ┆          ┆           ┆           ┆ 5         │
└───────────┴───────────┴────────────┴──────────┴───┴──────────┴───────────┴───────────┴───────────┘

In [29]:
hallOfFame.head()

shape: (5, 9)
┌───────────┬────────┬─────────┬─────────┬───┬───────┬──────────┬──────────┬─────────────┐
│ playerID  ┆ yearID ┆ votedBy ┆ ballots ┆ … ┆ votes ┆ inducted ┆ category ┆ needed_note │
│ ---       ┆ ---    ┆ ---     ┆ ---     ┆   ┆ ---   ┆ ---      ┆ ---      ┆ ---         │
│ str       ┆ i64    ┆ str     ┆ i64     ┆   ┆ i64   ┆ str      ┆ str      ┆ str         │
╞═══════════╪════════╪═════════╪═════════╪═══╪═══════╪══════════╪══════════╪═════════════╡
│ cobbty01  ┆ 1936   ┆ BBWAA   ┆ 226     ┆ … ┆ 222   ┆ Y        ┆ Player   ┆ null        │
│ ruthba01  ┆ 1936   ┆ BBWAA   ┆ 226     ┆ … ┆ 215   ┆ Y        ┆ Player   ┆ null        │
│ wagneho01 ┆ 1936   ┆ BBWAA   ┆ 226     ┆ … ┆ 215   ┆ Y        ┆ Player   ┆ null        │
│ mathech01 ┆ 1936   ┆ BBWAA   ┆ 226     ┆ … ┆ 205   ┆ Y        ┆ Player   ┆ null        │
│ johnswa01 ┆ 1936   ┆ BBWAA   ┆ 226     ┆ … ┆ 189   ┆ Y        ┆ Player   ┆ null        │
└───────────┴────────┴─────────┴─────────┴───┴───────┴──────────┴──────────┴─────────────┘

In [32]:
# Question 2 - PART A

stats_w_bio = batting.join(people, on='playerID', how='left')
stats_w_bio.head()

shape: (5, 47)
┌───────────┬────────┬───────┬────────┬───┬──────────┬───────────┬────────────┬────────────┐
│ playerID  ┆ yearID ┆ stint ┆ teamID ┆ … ┆ retroID  ┆ bbrefID   ┆ deathDate  ┆ birthDate  │
│ ---       ┆ ---    ┆ ---   ┆ ---    ┆   ┆ ---      ┆ ---       ┆ ---        ┆ ---        │
│ str       ┆ i64    ┆ i64   ┆ str    ┆   ┆ str      ┆ str       ┆ str        ┆ str        │
╞═══════════╪════════╪═══════╪════════╪═══╪══════════╪═══════════╪════════════╪════════════╡
│ abercda01 ┆ 1871   ┆ 1     ┆ TRO    ┆ … ┆ aberd101 ┆ abercda01 ┆ 1939-11-11 ┆ 1850-01-02 │
│ addybo01  ┆ 1871   ┆ 1     ┆ RC1    ┆ … ┆ addyb101 ┆ addybo01  ┆ 1910-04-09 ┆ null       │
│ allisar01 ┆ 1871   ┆ 1     ┆ CL1    ┆ … ┆ allia101 ┆ allisar01 ┆ 1916-02-25 ┆ 1849-01-29 │
│ allisdo01 ┆ 1871   ┆ 1     ┆ WS3    ┆ … ┆ allid101 ┆ allisdo01 ┆ 1916-12-19 ┆ 1846-07-12 │
│ ansonca01 ┆ 1871   ┆ 1     ┆ RC1    ┆ … ┆ ansoc101 ┆ ansonca01 ┆ 1922-04-14 ┆ 1852-04-17 │
└───────────┴────────┴───────┴────────┴───┴──────────┴───────────┴────────────┴────────────┘

In [51]:
# Question 2 - PART B

florida_hr = (
    stats_w_bio.filter(pl.col("birthState")=="FL")
    .select(total_hr = pl.col("HR").sum()).item()
)

print(florida_hr)

16225

In [72]:
# Question 3 - PART A

hall_inducted = (
    HallOfFame.filter((pl.col("inducted")=="Y") &  (pl.col("category")=="Player")).select("playerID").unique()
)
hall_inducted.head()

shape: (5, 1)
┌───────────┐
│ playerID  │
│ ---       │
│ str       │
╞═══════════╡
│ kleinch01 │
│ simmote01 │
│ mendejo99 │
│ griffke02 │
│ ansonca01 │
└───────────┘

In [77]:
# Question 3 - PART B

hof_stats = batting.join(hall_inducted, on='playerID', how='inner')
hof_stats.head()

hof_hits = (
    hof_stats
    .group_by("playerID")
    .agg(pl.sum("H").alias("total_hits"))
    .select(pl.mean("total_hits").alias("average_hits"))
)

hof_hits.head()

shape: (1, 1)
┌──────────────┐
│ average_hits │
│ ---          │
│ f64          │
╞══════════════╡
│ 1717.29918   │
└──────────────┘